@font-face {
  font-family: 'SequelSansHeavy';
  font-style: normal;
  font-weight: 900;
  src:
    url('../fonts/SequelSansHeavy.woff2') format('woff2'),
    url('../fonts/SequelSansHeavy.woff') format('woff');
  font-display: swap;
}