.consultation {
  background-color: $orange;
  padding: 70px 150px;
  margin-bottom: -230px;
  position: relative;
  z-index: 1;

  @media (max-width: 992px) {
    padding: 35px 80px;
  }

  @media (max-width: 768px) {
    padding: 25px 35px;
  }

  @media (max-width: 576px) {
    padding: 15px 25px;
  }

  &__container {
    padding: 75px 0 60px;
  }

  &__title {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: $black;
    margin-bottom: 12px;

    @media (max-width: 1200px) {
      font-size: 30px;
    }

    @media (max-width: 576px) {
      font-size: 25px;
    }
  }

  &__descr-text {
    font-size: 21px;
    color: $lightbrown;
    text-align: center;
    margin-bottom: 35px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__label {
    width: 315px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    &--checkbox {
      text-align: center;
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    padding: 23px 20px 22px;
    border: 1px solid $black;
    background-color: transparent;

    &:focus {

      &::placeholder {
        color: $brown;
      }
    }

    &::placeholder {
      color: $white;
      font-size: 17px;
    }
  }

  &__btn-main {
    background-color: $black;
    font-family: 'Playfair Display';

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__label--checkbox {
    font-size: 13px;
  }
}