.hero {
  padding-top: 120px;
  position: relative;

  @media (max-width: 992px) {
    padding-top: 90px;
  }

  @media (max-width: 768px) and (orientation: landscape) {
    padding-top: 60px;
  }

  &__media {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100vh;
    max-width: 100%;
    width: 100%;
  }

  &__video {
    max-width: 100%;
    width: 100%;
    height: 1080px;
    object-fit: cover;
  }

  &__top-wrapper {
    padding: 0 60px 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 121px);
    width: 100%;
    
    @media (max-width: 992px) {
      height: calc(100vh - 74px);
      justify-content: space-around;
    }

    @media (max-width: 768px) {
      padding: 25px 20px;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      gap: 35px;
    }
  }
  
  &__top-inner {
    display: flex;
    align-items: baseline;
    gap: 40px;
    justify-content: center;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__top-title {
    font-family: 'SequelSansHeavy',
    sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: $black;
    display: flex;
    flex-direction: column;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 30px 56px;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background-image: url('../images/icons/frame.svg');
      background-repeat: no-repeat;
      background-size: contain;
      top: 10px;
      left: 0;
      bottom: 0;
      max-width: 320px;
      width: 100%;
      height: 300px;
      z-index: -1;
    }

    &::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      width: 400px;
      height: 350px;
      opacity: 0.5;
      z-index: -2;

      @media (max-width: 992px) {
        width: 350px;
        height: 330px;
      }

      @media (max-width: 768px) {
        width: 270px;
        height: 250px;
      }

      @media (max-width: 320px) {
        width: 210px;
        height: 200px;
      }
    }

    @media (max-width: 992px) {
      font-size: 60px;
    }

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      font-size: 40px;
    }

    @media (max-width: 576px) {
      font-size: 40px;
    }

    @media (max-width: 320px) {
      font-size: 30px;
      max-width: 100%;
    }
  }

  &__top-title-part {

    &--darkgrey {
      color: $darkgrey;
    }

    &--grey {
      color: $grey;
    }

    &--lightgrey {
      color: $lightgrey;
    }
  }

  &__top-box {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 768px) and (orientation: landscape) {
      gap: 15px;
    }
  }

  &__btn {
    width: fit-content;

    &:hover {
      color: $white;
    }

    &.active {
      position: fixed;
      z-index: 3;
      background-color: $black;

      &:focus {
        background-color: $lightgrey;
      }

      &:hover {
        background-color: $grey;
      }
    }
  }

  &__bottom {
    position: relative;
    z-index: -1;
    padding: 40px 0;
    background-color: $black;
  }

  &__bottom-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
  }

  &__bottom-item {
    padding-top: 100px;
    max-width: 245px;
    text-align: center;
    position: relative;

    @media (max-width: 576px) {
      max-width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 78px;
      height: 78px;
    }

    &--barber {

      &::before {
        background-image: url('../images/icons/barber.png');
      }
    }

    &--chair {
      
      &::before {
        background-image: url('../images/icons/chair.png');
      }
    }

    &--cosmetics {
      
      &::before {
        background-image: url('../images/icons/cosmetics.png');
      }
    }

    &--time {
      
      &::before {
        background-image: url('../images/icons/time.png');
      }
    }
  }

  &__bottom-title {
    font-size: 24px;
    font-weight: 600;
    color: $lightgrey;

    @media (max-width: 768px) {
      font-size: 22px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__bottom-descr {
    color: $lightgrey;
    opacity: 0.8;
  }
}