.testimonials {
  padding-bottom: 120px;
  background-color: $darkgrey;

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }

  &__title {
    color: $white;
    margin-bottom: 24px;

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &__descr-text {
    color: $lightgrey;
    margin-bottom: 60px;

    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    position: relative;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    padding: 0 36px;

    @media (max-width: 576px) {
      padding: 0;
    }
  }
  
  &__item {
    padding: 40px 0;
    display: flex!important;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &:not(:last-child) {

      @media (max-width: 1200px) {
        margin-right: 20px;
      }
    }
    
    @media (max-width: 1200px) {
      max-width: 100%;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__img {
    object-fit: cover;
    margin-bottom: 24px;

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__item-title {
    font-size: 24px;
    margin-bottom: 24px;
    color: $white;
    text-align: center;

    @media (max-width: 768px) {
      max-width: 280px;
      width: 100%;
      margin: 10px auto;
    }
  }

  &__item-link {
    padding-bottom: 5px;
    color: $black;
    font-weight: 700;
    transition: color 0.3s,
                border-bottom 0.4s;
    border-bottom: 1px solid $black;

    @media (max-width: 768px) {
      max-width: 280px;
      width: 100%;
    }

    &.active {
      display: none;
    }

    &:focus {
      opacity: 0.5;
    }
    
    &:active {
      color: $darkgrey;
      border-bottom: none;
    }
    
    &:hover {
      border-bottom: 1px solid $lightgrey;
      color: $lightgrey;
    }
  }
}

.client-altegio {

  &__item {
    max-width: 560px;
    width: 100%;
  }

  &__text {
    font-size: 20px;
    color: $white;
    text-align: center;
    margin-bottom: 15px;
  }

  &__name {
    color: $white;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__rate {
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
  }
  
  &__star {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  &__comment {
    color: $white;
    margin-bottom: 24px;
    color: $lightgrey;

    @media (max-width: 992px) {
      font-size: 14px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 10px auto;
    }
  }
}

.slick-icon {
  position: relative;
  z-index: 2;
  fill: $black;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-color: $lightgrey;
    transition: background-color 0.4s,
                fill 0.4s;
    z-index: 1;
  }

  &:hover {

    &::before {
      background-color: $darkgrey;
    }

    .slick-icon {
      fill: $lightgrey;
    }
  }

  &:active {

    &::before {
      background-color: $white;
    }

    .slick-icon {
      fill: $black;
    }
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-disabled {
  cursor: not-allowed;
  
  &::before {
    background-color: $lightgrey;
  }
  
  .slick-icon {
    fill: $darkgrey;
  }
}